body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f5f7fa;
    color: #333;
}

.navbar {
    background: white;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 100;
}

.logo {
    font-size: 24px;
    margin: 0;
    display: flex;
    align-items: center;
    gap: 10px;
    color: steelblue;
}

.navbar nav a {
    margin-left: 20px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.navbar nav a:hover {
    color: steelblue;
}

.section {
    padding: 50px 20px;
    max-width: 900px;
    margin: 0 auto;
    text-align: center;
}

.product-grid {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 40px 0;
}

.product-card {
    background: white;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 260px;
    text-align: center;
}

.product-card img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 15px;
}

.product-card h3 {
    margin: 10px 0;
    color: steelblue;
    font-size: 20px;
}

.product-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 16px rgba(0,0,0,0.15);
}

form {
    background: white;;
    padding: 40px;
    border-radius: 15px;
    max-width: 350px;
    margin: auto;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

input, textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

button {
    background: steelblue;
    color: white;
    border: none;
    padding: 12px;
    border-radius: 8px;
    width: 100%;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background: #1d5f96;
}

footer {
    background: #222;
    color: white;
    text-align: center;
    padding: 25px;
    margin-top: 40px;
}

footer.social a {
    color: white;
    margin: 0 10px;
    font-size: 20px
}